<!Doctype HTML>
<html>

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="css/admin.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/65b842e152.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    <script src="/js/customerAjax.js"></script>



  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

      <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style1.css" rel="stylesheet">

</head>


<body style="font-family: 'Poppins', sans-serif;margin-top: -50px;">




    <div id="mySidenav" class="sidenav">
        <p class="logo2"><img src="/images/ds_wht.png" style="max-width: 120px;margin-left: 40px;"><span class="menu">☰</span></p>
        <p class="logo1"> <span class="menu1">☰</span></p>
        <a href="/admindash" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
        <a href="/adminproducts" class="icon-a"><i class="fa fa-pie-chart icons"></i> Products</a>
        <a href="/admincategory" class="icon-a"><i class="fa fa-list-alt icons"></i> Category</a>
        <a href="/admincustomers" class="icon-a"><i class="fa-solid fa-people-group"></i> Customers</a>
        <a href="/adminbrand" class="icon-a"><i class="fa-solid fa-business-time"></i> Brands</a>
        <a href="/adminorders" class="icon-a"><i class="fa fa-shopping-bag icons"></i> Orders</a>
        <a href="/admincoupon   " class="icon-a"><i class="fa-solid fa-ticket"></i> Coupons</a>
        <a href="/adminoffers" class="icon-a"><i class="fa-solid fa-credit-card"></i> Offers</a>
        <a href="/adminbanner" class="icon-a"><i class="fa fa-user icons"></i> Banner</a>
        <!-- <a href="#" class="icon-a"><i class="fa-solid fa-right-from-bracket"></i> Dashboard</a> -->
        
    </div>

    
    <div id="main">

        <div class="head">
            <div class="col-div-6">
                <p class="nav"> Dashboard</p>

            </div>

            <div class="col-div-6">
                
                <div class="profile">

                    
                    <p><i class="fa-solid fa-user fa-xl" style="color: #7c4ff9;padding-right: 5px;margin-left: -15px;"></i>  ADMIN <i class="fa fa-ellipsis-v dots" aria-hidden="true"></i></p>
                    <div class="profile-div">
                        <p><i class="fa fa-user"></i> Profile</p>
                        <p><i class="fa fa-cogs"></i> Settings</p>
                        <p onclick="confirmLogout()"><i class="fa fa-power-off"></i> <a  style="text-decoration: none;">Log Out</a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        <br />


        <div class="text-end">
            <a  class="btn btn btn-outline-primary btn-sm ms-auto" data-bs-toggle="modal" data-bs-target="#salesReportModal">
                <i class="fa-solid fa-download"></i> Sales Report
            </a>
        </div>
          <br>
          
        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Sales </h5>
                                <!-- <h5 class="card-title">Sales <span>| Today</span></h5> -->
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6><%= totalSales %></h6>
                                        <!-- <span class="text-success small pt-1 fw-bold">12%</span>
                                        <span class="text-muted small pt-2 ps-1">increase</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Revenue </h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>₹ <%= totalRevenue %></h6>
                                        <!-- <span class="text-success small pt-1 fw-bold">8%</span>
                                        <span class="text-muted small pt-2 ps-1">increase</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Customers </h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6><%= customers %></h6>
                                        <!-- <span class="text-danger small pt-1 fw-bold">12%</span>
                                        <span class="text-muted small pt-2 ps-1">decrease</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Customers Card -->


                    <div class="filter1 common-filter ms-auto" style="    margin-bottom: 12px; margin-top: -12px;">
                        <a class="icon" href="#" data-bs-toggle="dropdown" style="margin-left: 1300px;"><i class="fa-solid fa-sort" style="color: black;"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item"  onclick="updatecount('/count-orders-by-day')">Today</a></li>
                            <li><a class="dropdown-item" onclick="updatecount('/count-orders-by-month')">This Month</a></li>
                            <li><a class="dropdown-item" onclick="updatecount('/count-orders-by-year')">This Year</a></li>
                        </ul>
                    </div>
        
                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">
        
                        <div class="card-body">
                            <h5 class="card-title">Reports <span> ( Sales/Order )</span></h5>
        
                            <!-- Line Chart -->
                            <canvas id="reportsChart" height="100" ></canvas>
        
        
                        </div>
        
                        </div>
                    </div><!-- End Reports -->

                   

                    <section class="section">
                        <div class="row">

                            <div class="filter1 common-filter ms-auto" style="    margin-bottom: 12px; margin-top: -12px;">
                                <a class="icon" href="#" data-bs-toggle="dropdown" style="margin-left: 1300px;"><i class="fa-solid fa-sort" style="color: black;"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item"  onclick="updatecount('/count-orders-by-day')">Today</a></li>
                                    <li><a class="dropdown-item" onclick="updatecount('/count-orders-by-month')">This Month</a></li>
                                    <li><a class="dropdown-item" onclick="updatecount('/count-orders-by-year')">This Year</a></li>
                                </ul>
                            </div>
        
                            
                    
                            <!-- Pie Chart -->
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Pie Chart<span> ( Sales/Order )</span></h5>
                                        <canvas id="pieChart" style="max-height: 395px;height: 0px;width: 0px;"></canvas>

                                    </div>
                                </div>
                            </div>
                            <!-- End Pie Chart -->
                    
                            <!-- Bar Chart -->
                            <div class="col-lg-6">
                                <div class="card" style="height: 484px;">
                                    <div class="card-body">
                                        <h5 class="card-title">Bar Chart<span> ( Sales/Amount )</span></h5>
                                        <canvas id="barChart" style="max-height: 400px;margin-top: 22px;"></canvas>
                                        
                    
                        </div>
                    </section>
                    


        
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
        
        
                        <div class="card-body">
                            <h5 class="card-title">Recent Sales </h5>
        
                            <table class="table table-borderless ">
                            <thead class="text-center" style="font-size: 16px;">
                                <tr>
                                <th scope="col">Si.No</th>
                                <th scope="col">Order ID</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Payment Status</th>
                                <th scope="col">Order Status</th>
                                </tr>
                            </thead>
                            <tbody >

                                <% recentOrders.forEach((data,index) => { %>

                                    <tr >
                                        <th class="text-center" scope="row"><a href="#"><%= index + 1 %></a></th>
                                        <td class="text-center"><%= data._id %></td>
                                        <td class="text-center"><%= data.orderDate.toLocaleDateString() %></td>
                                        <td class="text-center">₹ <%= data.discountAmount %></td>


                                        <% if (data.PaymentStatus=="Paid") { %>
                                            <td class="text-center"><span class="badge bg-success"><%= data.PaymentStatus %></span></td>
                                        <% } else if (data.PaymentStatus=="Pending") { %>
                                            <td class="text-center"><span class="badge bg-warning"><%= data.PaymentStatus %></span></td>
                                        <% } else if (data.PaymentStatus=="Refunded") { %>
                                            <td class="text-center"><span class="badge bg-info"><%= data.PaymentStatus %></span></td>
                                        <% } %>
                                        


                                        <% if (data.orderStatus=="Order Delivered") { %>
                                            <td class="text-center"><span class="badge bg-success"><%= data.orderStatus %></span></td>
                                        <% } else if (data.orderStatus=="Cancelled") { %>
                                            <td class="text-center"><span class="badge bg-danger"><%= data.orderStatus %></span></td>
                                        <% } else { %>
                                            <td class="text-center"><span class="badge bg-warning"><%= data.orderStatus %></span></td>
                                        <% } %>
                                       
                                    </tr>

                                <% }) %>
                                

                            </tbody>
                            </table>
        
                        </div>
        
                        </div>
                    </div><!-- End Recent Sales -->
        
                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">
        
        
                        <div class="card-body pb-0">
                            <h5 class="card-title">Top Selling </h5>
        
                            <table class="table table-borderless" >
                            <thead class="text-center" style="font-size: 16px;">
                                <tr>
                                <th scope="col">Si.No</th>
                                <th scope="col">Preview</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Sold</th>
                                <th scope="col">Approx. Revenue</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% topSelling.forEach((data,index) => { %>

                                    <tr>
                                        <th class="text-center" scope="row"><%= index + 1 %></a></th>
                                        <td class="text-center"><a href="#"><img src="/product_images/<%= data?.productInfo?.images[0] %>" alt=""></td>
                                        <td class="text-center"><a href="#" class="text-primary fw-bold"><%= data.productInfo?.productName %></a></td>
                                        <td class="text-center">₹ <%= data.productInfo?.DiscountAmount %></td>
                                        <td class="fw-bold text-center"><%= data?.totalQuantity %></td>
                                        <td class="text-center">₹ <%= data?.productInfo?.DiscountAmount *  data?.totalQuantity %></td>
                                    </tr>

                                <% }) %>
                               
                                
                            </tbody>
                            </table>
        
                        </div>
        
                        </div>
                    </div><!-- End Top Selling -->
        
                    </div>
                </div><!-- End Left side columns -->
            </div>
        </section>


        <div class="clearfix"></div>
    </div>



<!-- Sales Report Modal -->
<div class="modal fade" id="salesReportModal" tabindex="-1" aria-labelledby="salesReportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="salesReportForm" action="/salesreport" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="salesReportModalLabel">Sales Report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Input fields for start date, end date, and download format -->
                    <div class="mb-3">
                        <label for="startDate" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="startDate" name="startdate" oninput="validateForm()">
                        <small id="startDateError" class="text-danger"></small>
                    </div>
                    <div class="mb-3">
                        <label for="endDate" class="form-label">End Date</label>
                        <input type="date" class="form-control" id="endDate" name="enddate" oninput="validateForm()">
                        <small id="endDateError" class="text-danger"></small>
                    </div>
                    <div class="mb-3">
                        <label for="downloadFormat" class="form-label">Download Format</label>
                        <select class="form-select" id="downloadFormat" name="downloadformat" oninput="validateForm()">
                            <option value="">Select Format</option>
                            <option value="pdf">PDF</option>
                            <option value="excel">Excel</option>
                        </select>
                        <small id="downloadFormatError" class="text-danger"></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="generateReportBtn" disabled>Generate Report</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function validateForm() {
    const startDate = document.getElementById('startDate').value;
    const endDate = document.getElementById('endDate').value;
    const downloadFormat = document.getElementById('downloadFormat').value;

    const startDateError = document.getElementById('startDateError');
    const endDateError = document.getElementById('endDateError');
    const downloadFormatError = document.getElementById('downloadFormatError');
    const generateReportBtn = document.getElementById('generateReportBtn');

    // Reset error messages
    startDateError.innerHTML = "";
    endDateError.innerHTML = "";
    downloadFormatError.innerHTML = "";

    // Validate Start Date
    const currentDate = new Date().toISOString().split('T')[0];
    if (startDate === "") {
        startDateError.innerHTML = "Start Date is required";
    } else if (startDate > currentDate) {
        startDateError.innerHTML = "Start Date must be less than or equal to the current date";
    }

    // Validate End Date
    if (endDate === "") {
        endDateError.innerHTML = "End Date is required";
    } else if (endDate > currentDate) {
        endDateError.innerHTML = "End Date must be less than or equal to the current date";
    } else if (endDate < startDate) {
        endDateError.innerHTML = "End Date cannot be less than Start Date";
    }

    // Validate Download Format
    if (downloadFormat === "") {
        downloadFormatError.innerHTML = "Download Format is required";
    }

    // Enable or disable the Generate Report button based on validation
    if (!startDateError.innerHTML && !endDateError.innerHTML && !downloadFormatError.innerHTML) {
        generateReportBtn.disabled = false;
    } else {
        generateReportBtn.disabled = true;
    }
}

    function generateReport() {
        // Add logic to handle report generation based on selected options
        // For example, you can fetch the selected values from the input fields and perform an AJAX request to generate the report.
        // Here, I'm just closing the modal for demonstration purposes.
        $('#salesReportModal').modal('hide');
    }
</script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        updatecount("/count-orders-by-day");
      </script>


    <script>
        $(document).ready(function () {
            $(".profile p").click(function () {
                $(".profile-div").toggle();

            });
            $(".noti-icon").click(function () {
                $(".notification-div").toggle();
            });
        });
    </script>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    function confirmLogout() {
        Swal.fire({
            title: 'Are you sure you want to logout?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, logout!',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/adminlogout';
            }
        });
    }
</script>


      <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="/vendor/chart.js/chart.umd.js"></script> -->
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>



</body>


</html>

