<!Doctype HTML>
<html>

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/65b842e152.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script src="/js/customerAjax.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</head>


<body style="font-family: 'Poppins', sans-serif;">




    <div id="mySidenav" class="sidenav">
        <p class="logo"><img src="/images/ds_wht.png" style="max-width: 120px;margin-left: 10px;"><span class="menu">☰</span></p>
        <p class="logo1"> <span class="menu1">☰</span></p>
        <a href="/admindash" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
        <a href="/adminproducts" class="icon-a"><i class="fa fa-pie-chart icons"></i> Products</a>
        <a href="/admincategory" class="icon-a"><i class="fa fa-list-alt icons"></i> Category</a>
        <a href="/admincustomers" class="icon-a"><i class="fa-solid fa-people-group"></i> Customers</a>
        <a href="/adminbrand" class="icon-a"><i class="fa-solid fa-business-time"></i> Brands</a>
        <a href="/adminorders" class="icon-a"><i class="fa fa-shopping-bag icons"></i> Orders</a>
        <a href="/admincoupon" class="icon-a"><i class="fa-solid fa-ticket"></i> Coupons</a>
        <a href="/adminoffers" class="icon-a"><i class="fa-solid fa-credit-card"></i> Offers</a>
        <a href="/adminbanner" class="icon-a"><i class="fa fa-user icons"></i> Banner</a> 
      
        
    </div>




  <div class="container-fluid">

    <div class="container" style="margin-left: 321px;margin-top: 90px;">



      <!-- Title -->
      <div class="d-flex justify-content-between align-items-center py-3 ">
        <h2 class="h5 mb-0"><a href="#" class="text-muted"></a># <%= ordrs._id %>
        </h2>
      </div>

      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <div>
                  <span style="font-weight: bolder;" class="me-3"><%- ordrs.orderDate.toLocaleString('en-IN', {
                      timeZone: 'Asia/Kolkata' , dateStyle: 'short' , timeStyle: 'short' }) %></span>

                  <span class="me-3"></span>

                </div>
                <div class="d-flex">

                  <div class="dropdown">
                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <table class="table table-borderless">
                <tbody>

                  <% ordrs.products.forEach((prdkt,index)=> { %>
                    <tr style="background-color: white;">
                      <td>
                        <div class="d-flex mb-2">
                          <div class="flex-shrink-0">
                            <img src="/product_images/<%= prdkt.productid.images[0] %>" style="width: 100px;" alt=""
                              width="35" class="img-fluid">
                          </div>
                          <div class="flex-lg-grow-1 ms-3" style="margin-top: 20px;">
                            <h6 class="" style="font-weight: 600;">
                              <%= prdkt.productid.productName %>
                            </h6>
                            <span class="small">Category: <%= prdkt.productid.category %></span>
                  
                            <% if (prdkt.status === "Processing") { %>
                              <span class="badge rounded-pill bg-warning" style="font-weight: 400;margin-left: 38px">
                                <%= prdkt.status %>
                              </span>
                              <% } else if (prdkt.status === "Confirmed") { %>
                                <span class="badge rounded-pill bg-primary" style="font-weight: 400;margin-left: 38px">
                                  <%= prdkt.status %>
                                </span>
                              <% } else if (prdkt.status === "Shipped") { %>
                                <span class="badge rounded-pill bg-info" style="font-weight: 400;margin-left: 38px">
                                  <%= prdkt.status %>
                                </span>
                              <% } else if (prdkt.status === "Delivered") { %>
                                <span class="badge rounded-pill bg-success" style="font-weight: 400;margin-left: 38px">
                                  <%= prdkt.status %>
                                </span>
                              <% } else if (prdkt.status === "Cancelled") { %>
                                <span class="badge rounded-pill bg-danger" style="font-weight: 400;margin-left: 38px">
                                  <%= prdkt.status %>
                                </span>
                            <% } %>

                  
                            <% const productReturnStatusAdmin = retns.find(returnData => returnData.productId.toString() === prdkt.productid._id.toString()) %>
                            <% if (productReturnStatusAdmin && productReturnStatusAdmin.status === "Approved" ) { %>


                                <span class="badge rounded-pill bg-success" style="font-weight: 400;margin-left: 38px"> Return
                                  <%= productReturnStatusAdmin.status %>
                                </span>
                            <% } else if (productReturnStatusAdmin && productReturnStatusAdmin.status === "Rejected") { %>
                                 
                              <span class="badge rounded-pill bg-danger" style="font-weight: 400;margin-left: 38px"> Return
                                <%= productReturnStatusAdmin.status %>

                            <% } %>

                            <% if (productReturnStatusAdmin && productReturnStatusAdmin.status === "Requested") { %>
                              <button type="button" class="btn btn-warning btn-sm" style="margin-left: 38px;"
                                data-bs-toggle="modal" data-bs-target="#returnDetailsModal_<%= productReturnStatusAdmin._id %>">
                                Return Requested
                              </button>

                  
                              <!-- Return Details Modal -->
                              <div class="modal fade" id="returnDetailsModal_<%= productReturnStatusAdmin._id %>" tabindex="-1"
                                aria-labelledby="returnDetailsModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="returnDetailsModalLabel">Return Request Details</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <p><strong>Reason:</strong> <%= productReturnStatusAdmin.returnReason %></p>
                                      <p><strong>Description:</strong> <%= productReturnStatusAdmin.description %></p>
                  
                                      <!-- Approve and Reject Buttons -->
                                      <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-success me-2"
                                          onclick="submitReturnResponse('<%= prdkt.productid._id %>','<%= ordrs._id %>','<%= ordrs.userid %>', 'Approved','<%= index %>')">Approve</button>
                                        <button type="button" class="btn btn-danger"
                                          onclick="submitReturnResponse('<%= prdkt.productid._id %>','<%= ordrs._id %>','<%= ordrs.userid %>', 'Rejected','<%= index %>')">Reject</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      </td>
                      <td>Qty: <%= prdkt.quantity %></td>
                      <td class="text-end">₹ <%= prdkt.productid.price %></td>
                    </tr>
                  <% }) %>
                  
                  
                  


                </tbody>
                <tfoot>

                  <tr>
                    <td colspan="2">Shipping</td>
                    <td style="font-style: italic;" class="text-end">Free</td>
                  </tr>
                  <tr style="background-color: white;">
                    <td colspan="2">Discount Amount</td>
                    <td class="text-danger text-end">- ₹ <%= ordrs.discountAmount %>
                    </td>
                  </tr>
                  <tr style="background-color: rgb(208, 207, 207);" class="fw-bold">
                    <td colspan="2">TOTAL</td>
                    <td class="text-end">₹ <%= ordrs.totalAmount %>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- Payment -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">

                <div class="col-lg-6">
                  <h3 class="h6" style="font-weight: bolder;">Order Information</h3>

                  <h6>Order Status: <span class="badge rounded-pill bg-info" style="font-weight: 400;">
                      <%= ordrs.orderStatus %>
                    </span></h6>
                  <h6>Ordered Date & Time: <span style="font-weight: 400;"><%- ordrs.orderDate.toLocaleString('en-IN', {
                        timeZone: 'Asia/Kolkata' , dateStyle: 'short' , timeStyle: 'short' }) %></span></h6>

                <% if (ordrs.orderStatus!="Order Delivered") { %>
                     

                  <h6>Expected Delivery Date & Time: <span style="font-weight: 400;"><%-
                        ordrs.expectedDeliveryDate.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' ,
                        dateStyle: 'short' , timeStyle: 'short' }) %></span></h6>
                <% } else { %>
                  <h6>Delivered Date & Time: <span style="font-weight: 400;"><%-
                    ordrs.deliveryDate.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' ,
                    dateStyle: 'short' , timeStyle: 'short' }) %></span></h6>
                <% } %>

                </div>

                <div class="col-lg-6">
                  <h3 class="h6">Shipping address</h3>

                  <address>
                    <strong>
                      <%= ordrs.address.name%>
                    </strong><br>
    
                    <%= ordrs.address.address%>
                      <%= ordrs.address.locality%><br>
                        <%= ordrs.address.city%>
                          <span> <%= ordrs.address.district%> </span> <br>
                            <span title="Phone">PIN:</span>
                            <%= ordrs.address.pincode%>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">

          <div class="card mb-4">
            <!-- Shipping information -->
            <div class="card-body">

              <h4>Billing Address</h4>

                  <address>
                    <strong>DropShip</strong><br>
                    1355 Market St, Suite 900<br>
                    Kerala, CA 94103<br>
                    <span title="Phone">P:</span> (123) 456-7890
                  </address>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    function confirmLogout() {
        Swal.fire({
            title: 'Are you sure you want to logout?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, logout!',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/adminlogout';
            }
        });
    }
</script>



  <script>
    $(document).ready(function () {
      $(".profile p").click(function () {
        $(".profile-div").toggle();
      });
      $(".noti-icon").click(function () {
        $(".notification-div").toggle();
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let table = new DataTable('#example');
    });
  </script>
  </body>

  </html>