<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>u-home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/65b842e152.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

  <link rel="stylesheet" href="/css/templatemo-hexashop.css">

  <link rel="stylesheet" href="/css/owl-carousel.css">

  <link rel="stylesheet" href="/css/lightbox.css">

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


  <style>
    body {
      margin-top: 20px;
      background-color: #f1f3f7;
    }

    .avatar-lg {
      height: 5rem;
      width: 5rem;
    }

    .font-size-18 {
      font-size: 18px !important;
    }

    .text-truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    a {
      text-decoration: none !important;
    }

    .w-xl {
      min-width: 160px;
    }

    .card {
      margin-bottom: 24px;
      -webkit-box-shadow: 0 2px 3px #e4e8f0;
      box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #eff0f2;
      border-radius: 1rem;
    }
  </style>


  <style>
    *::selection {
      background-color: transparent;
    }

    * {
      cursor: default;
      box-sizing: border-box;
    }





    .contenir {

      display: flex;
      justify-content: center;
      align-items: center;
      border-color: black;
      margin-left: -175px;
    }





    .search {
      box-shadow: 0px 0px 20px 1px #ffffff;
      border: 0;
      border-radius: 30px 0 0 30px;
      padding: 0 10px 0 10px;
      color: black;
      height: 40px;
      width: 400px;
      font-size: 25px;
      font-weight: 1000;
      background-color: rgb(234, 234, 234);
    }

    .search::selection {
      background-color: red;
      color: white;
    }

    .search:focus {
      border: 0;
      outline: 0;
    }

    .search:hover {
      cursor: text;
    }





    .search-btn {
      transition: 0.2s ease-in-out;
      border: 0;
      border-radius: 0 30px 30px 0;
      padding: 0 10px 0 10px;
      text-align: center;
      color: rgb(255, 255, 255);
      position: relative;
      background-color: rgb(15, 19, 9);
      height: 40px;
      width: 70px;
      font-size: 25px;
      font-weight: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .search-btn:hover {
      transition: 0.2s ease-in-out;
      font-size: 30px;
      font-weight: 800;
      cursor: pointer;
    }
  </style>




</head>

<body>


  <%- include('./layout/userHeaderNav') %>


  <% if (orders.length>0) { %>
    <div class="container" style="margin-top: 100px;">
      <div class="row">
        <div class="col-xl-12 ">
          <% orders.forEach(order => { %>
            <div class="container h5 border p-2 " style=" margin-bottom: 0px; border: 1px solid; border-radius: 10px;">
              <p style="display: inline-block;">Order: # <%= order._id %></p>
              <p style="display: inline-block; margin-left: 570px;">Ordered Date: <%-order.orderDate.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', dateStyle: 'short', timeStyle: 'short' })-%></p>
            </div>
            <div class="card border shadow-sm">
              <div class="card-body">
                <% order.products.forEach(data => { %>
                  <div class="d-flex align-items-start border-bottom pb-3">
                    <div class="me-4">
                      <img src="/product_images/<%=data?.productid?.images[0]%>" alt="" class="avatar-lg rounded">
                    </div>
                    <div class="flex-grow-1 align-self-center overflow-hidden">
                      <div>
                        <h5 class="text-truncate font-size-18"><a href="#" class="text-dark"><%= data?.productid?.productName%></a></h5>
                        <p class="text-muted mb-0">
                          <i class="bx bxs-star text-warning"></i>
                          <i class="bx bxs-star text-warning"></i>
                          <i class="bx bxs-star text-warning"></i>
                          <i class="bx bxs-star text-warning"></i>
                          <i class="bx bxs-star-half text-warning"></i>
                        </p>
                        <p class="text-muted" >Category: <span style="font-weight: bold;"><%-data?.productid?.category_id?.categoryName-%></span></p>
                      </div>
                    </div>
                    <div class="flex-shrink-0 ms-2">
                      <ul class="list-inline mb-0 font-size-16">
                        <li class="list-inline-item" style="margin-left: -500px;margin-top: 20px;">
                          <a href="#" class="text-muted px-1">
                            <span style="color: #000000;">Qty: <%= data.quantity%></span>
                          </a>
                        </li>
                        <li class="list-inline-item" style="margin-top: 20px;margin-left: 100px;">
                          <% if (data.status!="Cancelled") { %>
                            <a class="text-muted px-1">
                              <% if (order.orderStatus === 'Order Processed') { %>
                                <span class="badge rounded-pill bg-warning" style="font-weight: 400;"><%= order.orderStatus %></span>
                              <% } else if (order.orderStatus === 'Order Confirmed') { %>
                                <span class="badge rounded-pill bg-primary" style="font-weight: 400;"><%= order.orderStatus %></span>
                              <% } else if (order.orderStatus === 'Order Shipped') { %>
                                <span class="badge rounded-pill bg-info" style="font-weight: 400;"><%= order.orderStatus %></span>
                              <% } else if (order.orderStatus === 'Order Delivered') { %>
                                <span class="badge rounded-pill bg-success" style="font-weight: 400;"><%= order.orderStatus %></span>
                              <% } else if (order.orderStatus === 'Order Rejected'){ %>
                                <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= order.orderStatus %></span>
                              <% } else if (order.orderStatus === "Cancelled"){ %>
                                <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= order.orderStatus %></span>
                              <% } %>
                            </a>
                          <% } else { %>
                            <a class="text-muted px-1">
                              <span class="badge rounded-pill bg-danger" style="font-weight: 400;margin-left: 20px;"><%= data.status %></span>
                            </a>
                          <% } %>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% }) %>
                <div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="text-sm-end mt-2 mt-sm-0">
                        <a href="/myorderdetails/<%= order._id %>" class="btn btn-outline-success">
                          View details
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end card -->
          <% }) %>
        </div>
      </div>
    </div>
  
    <!-- Pagination -->
    <div class="container" style="display: flex;justify-content: center;">
    <nav aria-label="...">
      <ul class="pagination">
        <% if (paginationData.hasPrevPage) { %>
          <li class="page-item">
            <a class="page-link" href="/myorders?page=<%= paginationData.prevPage %>" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        <% } else { %>
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        <% } %>
  
        <% for (let i = 1; i <= paginationData.totalPages; i++) { %>
          <% if (i === paginationData.currentPage) { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link"><%= i %></span>
            </li>
          <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/myorders?page=<%= i %>"><%= i %></a>
            </li>
          <% } %>
        <% } %>
  
        <% if (paginationData.hasNextPage) { %>
          <li class="page-item">
            <a class="page-link" href="/myorders?page=<%= paginationData.nextPage %>">Next</a>
          </li>
        <% } else { %>
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-disabled="true">Next</a>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>


  <% } else { %>
    <!-- Display if there are no orders -->
    <section class="h-100 h-custom" style="background-color: #eee;margin-top: 100px;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card">
              <div class="card-body p-4 d-flex justify-content-center align-items-center">
                <div class="d-flex flex-column align-items-center">
                  <img src="/images/nocart.webp" style="width: 260px;" alt=""><br><br>
                  <h5>You don't have any Orders yet!</h5>
                  <p>Grab something right now.</p>
                  <br>
                  <a href="/allproducts"><button style="border-radius: 0px;width: 200px;" type="button" class="btn btn-success">Shop now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% } %>
  
  <div class="container">
    <div class="col-sm-6">
      <a href="/allproducts" class="btn btn-link text-muted">
        <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping
      </a>
    </div> <!-- end col -->
  </div> <!-- end row -->
  




  <!-- ***** Footer Start ***** -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="first-item">
            <div class="logo">
              <img src="/images/ds_wht.png" alt="hexashop ecommerce templatemo" style="max-width: 120px;">
            </div>
            <ul>
              <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, India</a></li>
              <li><a href="#">dropship@company.com</a></li>
              <li><a href="#">010-020-0340</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h4>Shopping &amp; Categories</h4>
          <ul>
            <li><a href="#">Men’s Shopping</a></li>
            <li><a href="#">Women’s Shopping</a></li>
            <li><a href="#">Kid's Shopping</a></li>
            <li><a href="#">Sports Shopping</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Homepage</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4>Help &amp; Information</h4>
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Tracking ID</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="under-footer">
            <p>Copyright © 2023 DropShip Co., Ltd. All Rights Reserved.

              <br>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>




  <!-- jQuery -->
  <script src="/js/jquery-2.1.0.min.js"></script>

  <!-- Bootstrap -->
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!-- Plugins -->
  <script src="/js/owl-carousel.js"></script>
  <script src="/js/accordions.js"></script>
  <script src="/js/datepicker.js"></script>
  <script src="/js/scrollreveal.min.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/imgfix.min.js"></script>
  <script src="/js/slick.js"></script>
  <script src="/js/lightbox.js"></script>
  <script src="/js/isotope.js"></script>

  <!-- Global Init -->
  <script src="/js/custom.js"></script>

  <script>

    $(function () {
      var selectedClass = "";
      $("p").click(function () {
        selectedClass = $(this).attr("data-rel");
        $("#portfolio").fadeTo(50, 0.1);
        $("#portfolio div").not("." + selectedClass).fadeOut();
        setTimeout(function () {
          $("." + selectedClass).fadeIn();
          $("#portfolio").fadeTo(50, 1);
        }, 500);

      });
    });


  </script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    function confirmLogout() {
        Swal.fire({
            title: 'Are you sure you want to logout?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, logout!',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/logout';
            }
        });
    }
</script>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>


</body>

</html>