<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="d-flex justify-content-center align-items-center">

        <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Sales Report <%= `      ${startDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}    to      ${endDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}` %></h2>
    </div>

    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Amount</th>
                <th>Payment Method</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order.userid %></td>
                    <td><%= order._id %></td>
                    <td><%= order.orderDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                    <td><%= order.discountAmount %></td>
                    <td><%= order.paymentMethod %></td>
                </tr>
            <% }); %>
        </tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="font-weight: 600;">Total Sales : </td>
            <% if (totalAmount) { %>
                <td>₹ <%= typeof totalAmount === 'number' ? totalAmount.toFixed(2) : 'N/A' %></td>
            <% } else { %>
                <td>No sales data</td>
            <% } %>
        </tr>
    </table>
</body>
</html>